*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    height: 5rem;
    line-height: 5rem;
    color: white;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}


#userscore,#compscore{
    font-size: 4rem;
}

#msg{
    margin-top: 5rem;
    color: white;
    background-color: #081b31;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem   ;
}